#booklist {
	width:90%;
	float:left;
}
.author {
	float:left;
	width:30%;
	border-color:#eeeeee;
	border-style:solid;
	border-width:0px 1px 0px 0px;
	padding-left:4px;
}
.title {
	float:left;
	width:65%;
	border-color:#eeeeee;
	border-style:solid;
	border-width:0px 1px 0px 1px;
	padding-left:4px;
}
.oddline .title, .oddline .author{ background-color:#eeeeee; }

.columnheaders .author , .columnheaders .title {
	font-family: arial,sans-serif;
	font-weight: bold;
	color:#ffffff;
	background-color:#aaaaaa;
	border-color:#eeeeee;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	padding-left:4px;
}

#navigation { float:left; clear:both; }

#newbook form {
	float:left;
	width:34em;
	background-color:#eeeeee;
	padding:1em;
	font-family:arial,sans-serif;
	font-size:1.1em;
}
#newbook legend {
	font-weight:bold;
}
#newbook form label {
	display:block;
	float:left;
	clear:left;
	font-weight:bold;
	margin-top:1em;
	margin-left:3px;
	padding-top:3px;
	padding-bottom:3px;
}
#newbook form input {
	float:right;
	width:24em;
	margin-top:1em;
	margin-right:3px;
	font-size:1em;
}
#newbook button {
	font-size:0.8em;
	width:3em;
	float:right;
	margin-top:0.5em;
}