<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>autojsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>pack.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerlectApp</display-name>
    <servlet-name>SerlectApp</servlet-name>
    <servlet-class>pack.SerlectApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerlectApp</servlet-name>
    <url-pattern>/SerlectApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqResServlet</display-name>
    <servlet-name>ReqResServlet</servlet-name>
    <servlet-class>pack.ReqResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqResServlet</servlet-name>
    <url-pattern>/ReqResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>pack.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>pack.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/filterTest.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FormFilter</display-name>
    <filter-name>FormFilter</filter-name>
    <filter-class>pack.FormFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FormFilter</filter-name>
    <url-pattern>/FormSuccess.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>pack.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/ent.jsp</url-pattern>
  </filter-mapping>
</web-app>