
form { float:left; border:0; margin:0; padding:0; clear:both; width:100%; }
form.logoff{ float:right; border:0; margin:0; padding:0; clear:both; width:auto; font-size:0.5em;}

#wikiheader { width:100%; height:2em;}
#wikicontent, #wikisidebar { background: #fbfbff; border:1px solid #dfeffc; margin:4px; float:left; }
#wikisidebar { width:25%; min-height: 450px;}
#wikicontent { width:70%;}

.logoff-button { float:right;}
.inline-label { color: #aaaaaa; }

form.login { float:left; width:12em;}
form.login label { display:block; clear:both; padding:3px;}
form.login input { float:left; width:8em;}
form.login button{ float: left; clear:both; }
#logon-screen #content { background: #fbfbff; border:2px solid #dfeffc; margin:10px; padding:2em 0em 2em 2em; min-width:0;}

a.tagsize0 {font-size:1em;}
a.tagsize1 {font-size:1.2em;}
a.tagsize2 {font-size:1.44em;}
a.tagsize3 {font-size:1.7em;}
a.tagsize4 {font-size:2em;}
